/*
* Animations
*/

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-shadow: 1px 1px 1px green;
}

@keyframes colorChange {
  0% {
    color: red;
    text-shadow:
      2px -2px 0 red,
      -2px 2px 2px gold,
      -4px 4px 2px yellow,
      -6px 6px 2px aliceblue,
      -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }

  18% {
    color: palevioletred;
    text-shadow:
      2px -2px 0 palevioletred,
      -2px 2px 2px red,
      -4px 4px 2px gold,
      -6px 6px 2px yellow,
      -8px 8px 2px aliceblue;
    /* -10px 20px 2px lightblue;  */
  }

  36% {
    color: lightblue;
    text-shadow:
      2px -2px 0 lightblue,
      -2px 2px 2px palevioletred,
      -4px 4px 2px red,
      -6px 6px 2px gold,
      -8px 8px 2px yellow;
    /* -10px 20px 2px aliceblue;  */
  }

  54% {
    color: aliceblue;
    text-shadow:
      2px -2px 0 aliceblue,
      -2px 2px 2px lightblue,
      -4px 4px 2px palevioletred,
      -6px 6px 2px red,
      -8px 8px 2px gold;
    /* -10px 20px 2px yellow;   */
  }

  72% {
    color: yellow;
    text-shadow:
      2px -2px 0 yellow,
      -2px 2px 2px aliceblue,
      -4px 4px 2px lightblue,
      -6px 6px 2px palevioletred,
      -8px 8px 2px red;
    /* -10px 20px 2px gold;   */
  }

  90% {
    color: gold;
    text-shadow:
      2px -2px 0 gold,
      -2px 2px 2px yellow,
      -4px 4px 2px aliceblue,
      -6px 6px 2px lightblue,
      -8px 8px 2px palevioletred;
    /* -10px 20px 2px red;     */
  }

  100% {
    color: red;
    text-shadow:
      2px -2px 0 red,
      -2px 2px 2px gold,
      -4px 4px 2px yellow,
      -6px 6px 2px aliceblue,
      -8px 8px 2px lightblue;
    /* -10px 20px 2px palevioletred;  */
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  /* 10% {
    opacity: .7;
  } */

  100% {
    opacity: 1;
  }
}

/* END ANIMATIONS */


.custom-heading-1 {
  text-align: center;
  transition: text-shadow 2s;
  text-shadow:
    1px -1px 0 red,
    -1px 2px 1px gold,
    -2px 4px 1px yellow,
    -3px 6px 1px aliceblue,
    -4px 8px 1px lightblue,
    -5px 10px 1px palevioletred;
  animation: colorChange 3s linear;
}

.fadeOut {
  animation: fadeOut 3s linear;
}

.fadeIn {
  animation: fadeIn 3s ease-out;
}

/*
* Menu System
*/

#menuSystemMainOptions {
  position: absolute;
  top: 546.5px;
  left: 0px;
  z-index: 10;
}

#menuSystemMainOptions th {
  width: 195px;
  z-index: -2;
}

.menuTable {
  width: 100px;
  height: 50px;
  z-index: -2;
}

#menuTabOne,
#menuTabTwo,
#menuTabThree,
#menuTabFour {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: black;
  z-index: -2;
}

#menuTabOne {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 #4F2683, inset 0.1em 0.1em 0 0 rgb(172, 5, 5);
}

#menuTabTwo {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(38, 112, 131), inset 0.1em 0.1em 0 0 #4F2683;
}

#menuTabThree {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(45, 129, 37), inset 0.1em 0.1em 0 0 rgb(38, 112, 131);
}

#menuTabFour {
  transition: 1s;
  box-shadow: 0.1em 0.1em 0 0 rgb(172, 5, 5), inset 0.1em 0.1em 0 0 rgb(45, 129, 37);
}

#menuSystemOne,
#menuSystemTwo,
#menuSystemThree,
#menuSystemFour {
  z-index: 6;
  width: 798px;
  height: 154px;
  position: absolute;
  top: 394px;
  left: -1px;
  /* pointer-events: none; */
}

#menuSystemOne {
  /* border-top: 2px solid rgb(47, 20, 202); */
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  transition: 1s;
  /* background-image: url('../images/space-ui-background-blue.png'); */
}

.menuSelected {
  background-color: grey;
}

#menuSystemTwo {
  /* border-top: 2px solid red; */
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  display: none;
  /* background-image: url('../images/space-ui-background-red.png'); */
}

#menuSystemThree {
  /* border-top: 2px solid green; */
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  display: none;
  /* background-image: url('../images/space-ui-background-green.png'); */
}

#menuSystemFour {
  /* border-top: 2px solid purple; */
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  display: none;
  /* background-image: url('../images/seamless-abstract-nebula.jpg'); */
}

p {
  color: black;
  font-size: 17px;
}

#test {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

#wrapper {
  width: 800px;
  height: 603px;
  border: 1px solid red;
  text-align: center;
  float: left;
  margin: 0 auto;
  /* z-index: 5; */
  position: absolute;
  top: 0;
  left: 0;
}

.flickerOn {
  /* animation: flickerText 3s ease-out 1, fadeOut 5s linear 1; */
  /* animation-name: flickerText, fadeOut;
  animation-duration: 2s, 15s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1; */
}

.flickerOnTwo {
  /* animation: flickerText 36s ease-out 1; */
}

.flickerOnThree {
  /* animation: flickerText 81s ease-out 1; */
}

/*
* General Positioning
*/

#battleArea {
  position: absolute;
  top: 0px;
  left: 0px;
}
#buttonAddTorus {
  position: absolute;
  top: 550px;
  left: 0px;
  width: 800px;
  text-align: center;
}

#LightControls {
  position: absolute;
  top: 0px;
  left: 0px;
}

#LightControls h3 {
  padding-top: 25px;
  color: white;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 800px;
  text-align: center;
  vertical-align: top;
}

#mainSectionLeft {
  position: absolute;
  top: -20px;
  left: 0px;
  width: 150px;
  height: 398px;
}

#mainSectionRight {
  position: absolute;
  top: 101px;
  left: 649px;
  width: 150px;
  height: 398px;
}

#mainSectionTop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 799px;
  height: 100px;
}

#mainSectionBottom {
  position: absolute;
  left: 0px;
  width: 799px;
  height: 100px;
  border-bottom: none;
}

#gameTitle {
  margin-bottom: -20px;
  margin-top: -5px;
  vertical-align: top;
}

/* Text Sizes */

.largeText {
  font-size: 38px;
  color: white;
  text-shadow: 1px 1px 1px rgba(190, 3, 3, 0.829);
}

.mediumText {
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 1px rgba(190, 3, 3, 0.829);
}

.smallText {
  font-size: 12px;
  color: white;
  text-shadow: 1px 1px 1px rgba(190, 3, 3, 0.829);
}

.startHidden {
  display: none;
}

.showTextSlowly {
  /* animation: showTextSlowly 6s linear; */
}

/** 
*
* Ring Sections
*
*/

#ringSections tr {
  display: inline-flex;
  width: 795px;
  height: 145px;
}

#ringSectionsTwo tr {
  display: inline-flex;
  width: 795px;
  height: 145px;
}

#ringSections td {
  background-color: rgba(0, 0, 0, 0.6);
  width: 33%;
  height: 145px;
}

#ringSectionsTwo td {
  background-color: rgba(0, 0, 0, 0.6);
  width: 33%;
  height: 145px;
}


.ringSectionTwo,
.ringSectionThree,
.ringSectionFour,
.ringSectionFive,
.ringSectionSix,
.ringSectionSeven,
.ringSectionEight,
.ringSectionNine,
.ringSectionTen {
  border: 2px solid aliceblue;
  vertical-align: top;
  margin-top: -20px;
  padding-bottom: 24px;
}

.ringSectionOne {
  vertical-align: top;
  border: 2px solid aliceblue;
  margin-top: -20px;
  padding-bottom: 24px;
}

#hide {
  display: none;
}

#animalInfoOne,
#animalInfoTwo,
#animalInfoThree,
#animalInfoFour,
#animalInfoFive,
#animalInfoSix {
  /* color: white; */
}

.ringSection {
  display: none;
}

#ringSectionOneLevel,
#ringSectionTwoLevel,
#ringSectionThreeLevel,
#ringSectionFourLevel,
#ringSectionFiveLevel,
#ringSectionSixLevel {
  border: 1px solid white;
  width: 80px;
  height: 40px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#ringSectionOneLevel {}

#ringSectionTwoLevel {}

#ringSectionThreeLevel {}

#ringSectionFourLevel {}

#ringSectionFiveLevel {}

#ringSectionSixLevel {}

#ringSectionOneTitle,
#ringSectionTwoTitle,
#ringSectionThreeTitle,
#ringSectionFourTitle,
#ringSectionFiveTitle,
#ringSectionSixTitle {
  border: 1px solid white;
  background-color: rgba(0,0,0,.5);
  color: white;
  width: 173px;
  height: 40px;
  position: absolute;
  text-align: center;
  padding-right: 5px;
}

#ringSectionOneTitle,
#ringSectionFourTitle {
  top: -15px;
  left: 85px;
}

#ringSectionTwoTitle,
#ringSectionFiveTitle {
  top: -15px;
  left: 350px;
}

#ringSectionThreeTitle,
#ringSectionSixTitle {
  top: -15px;
  left: 615px;
}

#ringSectionFourTitle {}

#ringSectionSixTitle {}


#ringSectionOneReady,
#ringSectionTwoReady,
#ringSectionThreeReady,
#ringSectionFourReady,
#ringSectionFiveReady,
#ringSectionSixReady {
  border: 1px solid white;
  width: 80px;
  height: 40px;
  position: absolute;
}

#ringSectionOneReady,
#ringSectionFourReady {
  top: -15px;
  left: 182px;
}

#ringSectionTwoReady,
#ringSectionFiveReady {
  top: -15px;
  left: 447px;
}

#ringSectionThreeReady,
#ringSectionSixReady {
  top: -15px;
  left: 712px;
}

/**
* Animal/Human Section
**/
#mainAnimalInfo {
  color: white;
  text-shadow: 1px 1px 1px rgba(255, 6, 6, 0.829);
  text-decoration: underline;
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 25px;
  border: 1px solid white;
  border-right: none;
}

#mainAnimalInfoTwo {
  color: white;
  text-shadow: 1px 1px 1px rgba(6, 155, 255, 0.829);
  text-decoration: underline;
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 525px;
  border: 1px solid white;
  border-left: none;
}

#showOrHide {
  z-index: 25;
  width: 100px;
  max-width: 100px;
  position: absolute;
  top: 65px;
  left: 0px;
  font-size: 22px;
  color: darkturquoise;
}


/*
* Background Images
*/

.ringSectionOne {
  background-image: url('../textures/rat1.png');
  background-size: cover;
}

.ringSectionTwo {
  background-image: url('../textures/deer1.png');
  background-size: cover;
}


.ringSectionThree {
  background-image: url('../textures/trex1.png');
  background-position-x: -109px;
  background-position-y: 200px;
}

.ringSectionFour {
  background-image: url('../textures/trog1.png');
  background-size: cover;
  background-position-x: -63px;
  background-position-y: 200px;
}

.ringSectionFive {
  background-image: url('../textures/peasant1.png');
  background-size: cover;
  background-position-x: -15px;
  background-position-y: 171px;
}

.ringSectionSix{
  background-image: url('../textures/alien1.png');
  background-size: cover;
}

/*
* Adding Rings Section (UI)
*/

#addRing {
  display: inherit;
  width: 80px;
  height: 80px;
  border-left: 1px solid white;
  padding: 3px 10px;
  text-transform: uppercase;
  background-color: #57a957;
  border-color: #57a957;
  float: right;
  font-size: 14px;
}

#addRingHuman {
  width: 80px;
  height: 80px;
  border-left: 1px solid white;
  padding: 3px 10px;
  text-transform: uppercase;
  background-color: #57a957;
  border-color: #57a957;
  float: right;
  font-size: 14px;
  margin-top: 5px;
}